

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#list_container {
    border: 2px solid #cccccc;
    margin: 20px 0;
}
#list_container li {
    padding: 8px 10px 0 10px;
}
#list_container > li:nth-child(odd) {
    background-color: #e0e0e0;
}
#list_question li, #list_container > li:nth-child(even) {
    background-color:#fff;
}
.title_game {
    font-size: 20px;
}
.title_game_input {
    margin-left: 5px;
    width: 250px;
    display: inline;
}
.description_input, .question_input, .answer_input {
    width: 100%;
}
.bnt_question {
    padding: 10px 0;
}
.button_answer {
    padding: 10px 0;
}
.points_label, .number_next_label {
    font-weight: normal;
    margin-top: 5px;
    margin-left: 20px;
}
.points_input, .number_next_input {
    margin-top: 5px;
    margin-left: 5px;
}
.up_down_input {
    width: 50px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
#add_action_btn {
    margin-top: 5px;
}
#finalize-btn {
    margin: 20px 10px;
    padding: 10px 20px;
    float: right;
}
.trash_icon {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

















